[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DALSM"]
	path = DALSM
	url = https://github.com/plambertuliege/dalsm
[submodule "cubicBsplines"]
	path = cubicBsplines
	url = https://github.com/plambertuliege/cubicbsplines
[submodule "degross"]
	path = degross
	url = https://github.com/plambertuliege/degross
[submodule "ordgam"]
	path = ordgam
	url = https://github.com/plambertuliege/ordgam
[submodule "tvcure"]
	path = tvcure
	url = https://github.com/plambertuliege/tvcure
